
.vs/AISD_lab4/FileContentIndex/0d0287ae-7790-4eb4-85e3-8a1b292c0112.vsidx

.vs/AISD_lab4/FileContentIndex/bbaa41da-054e-4c3f-aa75-5db5bde877d6.vsidx

.vs/AISD_lab4/FileContentIndex/df7ff39d-1cb7-4d1f-89ca-32896bff60b2.vsidx

.vs/AISD_lab4/FileContentIndex/read.lock

.vs/AISD_lab4/v17/Browse.VC.db

.vs/AISD_lab4/v17/Browse.VC.db-shm

.vs/AISD_lab4/v17/Browse.VC.db-wal

.vs/AISD_lab4/v17/Browse.VC.opendb

.vs/AISD_lab4/v17/ipch/AutoPCH/a4c1de286316304b/HUFFMANTREE.ipch

AISD_lab4.sln

AISD_lab4/AISD_lab4.vcxproj

AISD_lab4/AISD_lab4.vcxproj.filters

AISD_lab4/AISD_lab4.vcxproj.user

.vs/AISD_lab4/FileContentIndex/07e0f8aa-6e70-4dae-a452-e7d746636430.vsidx

.vs/AISD_lab4/FileContentIndex/8e599010-68b4-40e6-a6a6-e970d6f83e7e.vsidx

.vs/AISD_lab4/FileContentIndex/a067873f-51f8-4a22-9aa3-aa744d5a7bf3.vsidx

.vs/AISD_lab4/FileContentIndex/ec54673e-2cf6-454a-b324-bc726619a1a0.vsidx

.vs/AISD_lab4/v17/.suo

.vs/AISD_lab4/v17/ipch/AutoPCH/5c59e1b0f4cfacb7/HUFFMANTREE.ipch

.vs/AISD_lab4/v17/ipch/AutoPCH/640467b863c92286/SOUCE.ipch

.vs/AISD_lab4/v17/ipch/AutoPCH/c82a750a9197a942/HUFFMANTREE.ipch

.vs/AISD_lab4/v17/ipch/AutoPCH/d593f2c512ede60d/SOURCE.ipch

AISD_lab4/x64/Debug/AISD_lab4.exe.recipe

AISD_lab4/x64/Debug/AISD_lab4.ilk

AISD_lab4/x64/Debug/AISD_lab4.log

AISD_lab4/x64/Debug/AISD_lab4.tlog/AISD_lab4.lastbuildstate

AISD_lab4/x64/Debug/AISD_lab4.tlog/CL.command.1.tlog

AISD_lab4/x64/Debug/AISD_lab4.tlog/CL.read.1.tlog

AISD_lab4/x64/Debug/AISD_lab4.tlog/CL.write.1.tlog

AISD_lab4/x64/Debug/AISD_lab4.tlog/link.command.1.tlog

AISD_lab4/x64/Debug/AISD_lab4.tlog/link.read.1.tlog

AISD_lab4/x64/Debug/AISD_lab4.tlog/link.write.1.tlog

AISD_lab4/x64/Debug/HuffmanTree.obj

AISD_lab4/x64/Debug/source.obj

AISD_lab4/x64/Debug/vc143.idb

AISD_lab4/x64/Debug/vc143.pdb

x64/Debug/AISD_lab4.exe

x64/Debug/AISD_lab4.pdb
