
.vs/AISD_lab4/FileContentIndex/0d0287ae-7790-4eb4-85e3-8a1b292c0112.vsidx

.vs/AISD_lab4/FileContentIndex/bbaa41da-054e-4c3f-aa75-5db5bde877d6.vsidx

.vs/AISD_lab4/FileContentIndex/df7ff39d-1cb7-4d1f-89ca-32896bff60b2.vsidx

.vs/AISD_lab4/FileContentIndex/read.lock

.vs/AISD_lab4/v17/Browse.VC.db

.vs/AISD_lab4/v17/Browse.VC.db-shm

.vs/AISD_lab4/v17/Browse.VC.db-wal

.vs/AISD_lab4/v17/Browse.VC.opendb

.vs/AISD_lab4/v17/ipch/AutoPCH/a4c1de286316304b/HUFFMANTREE.ipch

AISD_lab4.sln

AISD_lab4/AISD_lab4.vcxproj

AISD_lab4/AISD_lab4.vcxproj.filters

AISD_lab4/AISD_lab4.vcxproj.user
